mixin about_item(icon, text, link = '', description_tooltip = '')
	table
		tr(data-toggle="tooltip" data-placement="right" title=description_tooltip)
			if icon!==''
				td
					ion-icon(name=icon)
			
			td
				if link!== ''
					a(href=link)!= text
				else
					a= text
					
			if description_tooltip !== ''
				td
					ion-icon(name='information-circle-outline').hide-on-print
			else
				td
					ion-icon(name='information-circle-outline' style="visibility:hidden").hide-on-print

//==============================================================================
// WRITE CODE HERE ↘↘
// about_item('icon', 'text', 'link, 'description_tooltip')
// where the icon is the name code from the ion icon library (ionicons.com)
//==============================================================================
div.versalitas-title about me
+about_item("pin","Argentina")
+about_item("journal","Croatian (in process)","","I am waiting to become a Croatian (and EU) citizen on 2020. I've successfully applied for the Croatian citizenship thanks to my ancestors' roots.")
+about_item("calendar","24 years old")

div.versalitas-title contact
+about_item("mail","fran.kovacevich@gmail.com","mailto:fran.kovacevich@gmail.com")
+about_item("call","+549 34 24 49 99 74","tel:+5493424499974")
+about_item("paper-plane","@fran_kova","https://t.me/fran_kova")
+about_item("logo-github","frankovacevich","https://github.com/frankovacevich")
+about_item("logo-twitter","@_frankova","https://twitter.com/following","")
+about_item("logo-linkedin","Francisco Kovacevich","https://www.linkedin.com/in/francisco-kovacevich-71955667/")

div.versalitas-title languages
+about_item("","Spanish (mother tongue)","","")
+about_item("","English (fluent) <ion-icon name='open' class='hide-on-print mini'></ion-icon></a>","certificates/FCE.pdf","")
+about_item("","French (fluent) <ion-icon name='open' class='hide-on-print mini'></ion-icon></a>","certificates/DELFB2.pdf")
+about_item("","Croatian (beginner)","","Level A2, I've studied Croatian for one year")
+about_item("","Italian (beginner)","","Level A2, I've studied Italian for one year and have family in Italy")

div.versalitas-title interests
+about_item("","Control, Robotics and Automation","","")
+about_item("","Programming","","")
+about_item("","Reading <ion-icon name='open' class='hide-on-print mini'></ion-icon></a>","https://docs.google.com/spreadsheets/d/1IdMugMnA76vWNoi-PkMMNRnYCGDAKTk2qdOFrVZzgJc/edit?usp=sharing","")
