mixin about_item(icon, text, link = '', description_tooltip = '')
	table
		tr(data-toggle="tooltip" data-placement="right" title=description_tooltip)
			if icon!==''
				td
					ion-icon(name=icon)
			
			td
				if link!== ''
					a(href=link)= text
				else
					a= text
					
			if description_tooltip !== ''
				td
					ion-icon(name='information-circle-outline').hide-on-print
			else
				td
					ion-icon(name='information-circle-outline' style="visibility:hidden").hide-on-print

//==============================================================================
// WRITE CODE HERE ↘↘
// about_item('icon', 'text', 'link, 'description_tooltip')
// where the icon is the name code from the ion icon library (ionicons.com)
//==============================================================================
div.versalitas-title about me
+about_item("pin","Argentina")
+about_item("calendar","24 years old")

div.versalitas-title contact
+about_item("mail","fran.kovacevich@gmail.com","mailto:fran.kovacevich@gmail.com")
+about_item("call","+549 342 4 49 99 74","tel:+5493424499974")
+about_item("paper-plane","@fran_kova","https://t.me/fran_kova")
+about_item("logo-github","frankovacevich","https://github.com/frankovacevich")
+about_item("logo-twitter","@_frankova","https://twitter.com/following","")
+about_item("logo-linkedin","Francisco Kovacevich","https://www.linkedin.com/in/francisco-kovacevich-71955667/")

div.versalitas-title languages
+about_item("","Spanish (mother tongue)","","")
+about_item("","English (fluent)","certificates/FCE.pdf","")
+about_item("","French (fluent)","certificates/DELFB2.pdf")
+about_item("","Croatian (beginner)","","Last year I had the chance to visit Croatia and get to know my ancestors' home town. I fell in love with the country and now I want to learn more about my ancestors and their culture by learning the language 😊.")

div.versalitas-title interests
+about_item("","Control and Robotics","","I'm amazed by ")
+about_item("","Designing pretty stuff","","")
+about_item("","Playing with Arduinos and stuff")
+about_item("","Reading interesting stuff","","I prefer books to web articles (although I love Medium and go there frequently). I'm currently reading 'The DevOps Manual' by Gene Kims, Jez Humble, Patrick Debois and John Willis. One year ago I started to keep track of the books I read (check out my repository 'books' on github)")
+about_item("","Cycling","","")
