h1 Recent Projects
ul
	li <b>Coupsh</b>. A network to send notification and spread information within groups easily. <a href="https://coupsh.com">https://coupsh.com</a>
	li <b>Grand Croatian Dictionary</b>. An Android App that helped me (and many others) learn Croatian (and Russian). See it on <a href="https://frankovacevich.github.io/grand_dictionary_web/">Github</a> and the <a href="https://play.google.com/store/apps/details?id=com.subtlebit.fran_.croatiandictionary&hl=en">Play Store</a>
	
