h1 Skills
<<<<<<< HEAD
h2 General computer skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag Office Word / Excel / Power Point
	div.skill-tag Photoshop
	div.skill-tag LaTex
	div.skill-tag github
	div.skill-tag Matlab / Simulink
	div.skill-tag AutoCAD
	div.skill-tag SolidEdge
		
h2 Programming skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag C / C++
	div.skill-tag C# / VB.NET
	div.skill-tag Python
	div.skill-tag Java / Android SDK
	div.skill-tag PHP
	div.skill-tag MySQL
	div.skill-tag MongoDB
	div.skill-tag html / jade (pug) / handlebars
	div.skill-tag css / sass
	div.skill-tag JavaScript
	div.skill-tag Elementor

h2 Programming skills
=======
h2 Basic computer skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag CSS
	div.skill-tag HTML
	div.skill-tag JS
	
h2 Skill Set 2
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag Matlab
	div.skill-tag Simulink
	div.skill-tag Photoshop
	div.skill-tag Illustrator
	div.skill-tag Reader
	div.skill-tag Gravit
	div.skill-tag Inkscape
	div.skill-tag MS Paint
	div.skill-tag Gimp
	div.skill-tag Github
	div.skill-tag Elementor
>>>>>>> 59bd5be92bd63415b61e6cfb99b5564f1bff5e38
