h1 Skills
h2 Basic computer skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag CSS
	div.skill-tag HTML
	div.skill-tag JS
	
h2 Skill Set 2
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag Matlab
	div.skill-tag Simulink
	div.skill-tag Photoshop
	div.skill-tag Illustrator
	div.skill-tag Reader
	div.skill-tag Gravit
	div.skill-tag Inkscape
	div.skill-tag MS Paint
	div.skill-tag Gimp
	div.skill-tag Github
	div.skill-tag Elementor
