mixin tag_item(text, tooltip = '')
	if tooltip !== ''
		div.skill-tag(data-toggle="tooltip" data-placement="top" data-html="true" title=tooltip)!= text
	else
		div.skill-tag!= text

h1 Skills
h2 General computer skills
div(style="margin-top:10px;margin-bottom:15px;")
	+tag_item('Office Word / Excel / Power Point', "I prefer Google Docs, Sheets and Slides though, specially for team work")
	+tag_item('Photoshop and similar', "I use Photoshop, Gravit designer, Inkscape, Adobe XD and other programs regularly to create images and layouts for my projects.")
	+tag_item('LaTex', "I have used LaTex for numerous reports at college.")
	+tag_item('github', "I use it regularly to upload and share my projects.")
	+tag_item('Matlab / Simulink', "I used it in multiple courses throughout college. I'm very comfortable with Matlab and Simulink.")
	+tag_item('AutoCAD', "I've done a course on technical drawing with AutoCAD. I'm not an expert but I can comfortably use it.")
	+tag_item('SolidEdge', "Similar to SolidWorks (but free). Learned it in a course of mechanical design.")
	+tag_item('Ansys', "Learned it during my internship in France. I did some basic fluid dynamics and thermal exchange simulations.")
	+tag_item("Windows or Linux","I'm a Windows user, but I have experience with computers running Ubuntu and other versions of Linux.")
		
h2 Programming skills
div(style="margin-top:10px;margin-bottom:15px;")
	+tag_item('C/C++', "During college I made an introductory course on C. I've also learned from using Arduino, PICs and other microcontrollers. In my thesis I worked with a simulator coded in C++.")
	+tag_item('C#/VB.NET', "I learned C# and VB.NET from scratch mostly by myself. VB.NET was the first programming language that I learned in High School and I enjoy writing programs for Windows.")
	+tag_item('Python', "I learned Python from a introductory course from the MIT Open Courseware. I have used it multiple times and am very comfortable with it. My last project with Python involved using TensorFlow to build a card-recognition app using basics of ML and Neural Networks.")
	+tag_item('Java/Android', "I have worked on some projects with Android and uploaded some apps to the PlayStore (see my projects below).")
	+tag_item('PHP', "I started doing some projects that needed some backend, so I picked php because it seemed the easiest to learn (I mostly use XAMP for backend).")
	+tag_item('MySQL', "I have been using it for most of my projects that require a database. I'm quite comfortable with it. I have also learned about MongoDB.")
	//+tag_item('MongoDB', "I recently learned MongoDB and started using it in some projects. Not an expert, but it doesn't seem hard to pick up.")
	+tag_item('html', "I use html or jade (pug) for some of my projects. I have also used JavaScript mostly for frontend web design.")
	//+tag_item('JS',"I have used JavaScript mostly for frontend web design (including jQuery). Currently learning node.js for backend.")
	
h2 Soft Skills
div(style="margin-top:10px;margin-bottom:15px;")
	+tag_item('Energetic', "I like getting involved in projects, helping people and being physically and mentally active.")
	+tag_item('Autodidact', "I like learning by myself and reading about different topics. I also enjoy explaining new concepts to other people and try to learn by having conversations with them, keeping a broad mindset to include as many points of view as possible.")
	+tag_item('Good at teamwork', "I enjoy working with people that have good values and I am always ready to play my part and contribute as much as I can.")
	+tag_item('Patient and respectful', "I'm very respectful of other people's times and interests. I try to be always on time and admit when I have made a mistake.")
