h1 Skills
h2 General computer skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag Office Word / Excel / Power Point
	div.skill-tag Photoshop
	div.skill-tag LaTex
	div.skill-tag github
	div.skill-tag Matlab / Simulink
	div.skill-tag AutoCAD
	div.skill-tag SolidEdge
		
h2 Programming skills
div(style="margin-top:10px;margin-bottom:15px;")
	div.skill-tag C / C++
	div.skill-tag C# / VB.NET
	div.skill-tag Python
	div.skill-tag Java / Android SDK
	div.skill-tag PHP
	div.skill-tag MySQL
	div.skill-tag MongoDB
	div.skill-tag html / jade (pug) / handlebars
	div.skill-tag css / sass
	div.skill-tag JavaScript
	div.skill-tag Elementor

h2 Programming skills
